.barra-superior{
    -fx-background-color: linear-gradient(to right, #3A0CA3, #222);
    -fx-pref-height: 80px;
}

/* Diseño de los botones de la barra superior*/
.btn-inicio,
.btn-perfil{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.btn-inicio:hover,
.btn-perfil:hover{
    -fx-background-color: #F72585;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

/* Diseño de la barra de busqueda */
.bar-buscar {
    -fx-background-radius: 5; /* Bordes redondeados */
    -fx-padding: 5; /* Espacio dentro delos bordes */
    -fx-pref-width: 200px; /* Ancho preferido */
    -fx-pref-height: 40px;
}


/* Diseño del scroll-pane*/
/* Vuelve transparente el viewport y content para
poder obtener el color base */
.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .content{
    -fx-background-color: transparent;
}