.root{
    -fx-font-family: "verdana";
    -fx-background-color: linear-gradient(to bottom right, #3A0CA3, #222);
}

.sp-login{
    -fx-padding: 40;
}

.vbox-login{
    -fx-background-color: rgba(0,0,0,0.15);
    -fx-background-radius: 10;
    -fx-padding: 30;
}

.titulo-label{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.logo-login{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.login-usuario, .pw-usuario{
    -fx-pref-height: 40px;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-border-color: #7209B7;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.btn-login{
    -fx-background-color: #F72585;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-login:hover{
    -fx-background-color: #B81D64
}

.link-login{
    -fx-text-fill: #4CC9F0;
}

.cbox-login{
    -fx-text-fill: white;
}

.logo-principal{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}