.sp-login{
    -fx-padding: 40;
}

.vbox-login{
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 10;
    -fx-padding: 30;
}

.titulo-label{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* textField de usuario y contraseña */
.login-usuario,
.pw-usuario{
    -fx-pref-height: 60px;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;/* Solo deja el borde inferior */
    -fx-border-width: 0 0 2px 0;/* Grosor del borde */
    -fx-prompt-text-fill: white;/* Prompt en blanco */
    -fx-text-fill: white;/* Texto ingresado en blanco */
}

.login-usuario:focused,
.pw-usuario:focused{
    -fx-prompt-text-fill: transparent;
}

/* Boton ingresar */
.btn-login{
    -fx-text-fill: white;
    -fx-background-color: #F72585;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-login:hover{
    -fx-background-color: linear-gradient(to right, #4CC9F0, #F72585);
}

