.barra-superior{
    -fx-background-color: linear-gradient(to right, #3A0CA3, #222);
    -fx-pref-height: 80px;
}


/* Diseño del logo */
.logo {
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


/* Diseño de los botones de la barra superior*/
.btn-inicio,
.btn-perfil,
.btn-cerrar {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.btn-inicio:hover,
.btn-perfil:hover,
.btn-cerrar:hover {
    -fx-background-color: #F72585;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}


/* Diseño del menu desplegable "Género" */
.context-menu{
    -fx-background-color: rgba(0,0,0,0.1); /* Negro translucido */
}
.menu-bar,
.menu-bar .label,
.menu-bar .menu-item{
    -fx-text-fill: white; /* Color de letra blanco */
}
.menu-bar,
.menu-bar .menu,
.menu-bar .menu-item{
    -fx-background-color: transparent; /* Fondo transparente */
}
.menu-bar .menu:hover,
.menu-bar .menu:showing,
.menu-bar .menu-item:hover{
    -fx-background-radius: 5;
    -fx-background-color: #F72585;
    -fx-font-weight: bold;
}
.menu-bar,
.menu-bar .menu-item{
    -fx-font-size: 14px; /* Tamaño de letra 14px */
}


/* Diseño de la barra de busqueda */
.bar-buscar {
    -fx-background-radius: 5; /* Bordes redondeados */
    -fx-padding: 5; /* Espacio dentro delos bordes */
    -fx-pref-width: 200px; /* Ancho preferido */
}


/* Diseño del scroll-pane*/
/* Se vuelve transparente el viewport y content para
poder obtener el color base */
.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .content{
    -fx-background-color: transparent;
}